@import './utils.scss';

$color-theme: #ffc847;
$font: 'Nunito', sans-serif;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

::selection {
  color: #000;
  background-color: $color-theme
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  font-size: 1.1rem;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
a:hover {
  background:
    linear-gradient(to bottom, $color-theme 0%,
      $color-theme 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #000;
  text-decoration: none;
  transition: background-size .3s;
}

a:hover {
  background-size: 2px 2rem;
}

p {
  line-height: 1.7rem;
}

.menu-button {
  display: block;
  cursor: pointer;
  position: fixed;
  top: -1rem;
  right: -1rem;
  z-index: 1337;
  width: 7rem;
  height: 7rem;

  path {
    fill: none;
    stroke: #aaa;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .6s cubic-bezier(.645, .045, .355, 1);
  }
}

@media (min-width: 481px) {
  .menu-button {
    width: 8rem;
    height: 8rem;
  }
}

.menu-button:hover path {
  stroke: #333;
}

.menu-button input:checked+svg .line--1,
.menu-button input:checked+svg .line--3 {
  --length: 22.627416998;
}

.menu-button input:checked+svg .line--2 {
  --length: 0;
}

.menu-button .line--1,
.menu-button .line--3 {
  --total-length: 126.64183044433594;
}

.menu-button .line--2 {
  --total-length: 70;
}

.menu-button input:checked+svg .line--1,
.menu-button input:checked+svg .line--3 {
  --offset: -94.1149185097;
}

.menu-button input:checked+svg .line--2 {
  --offset: -50;
}

.menu {
  position: fixed;
  top: -100vh;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transition: all .5s ease-in-out;
  transition-property: transform, background-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .menu-items {
    list-style: none;
    text-align: center;

    .menu-link {
      position: relative;
      color: #000;
      font-size: 2.7rem;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 5px;
        left: 0;
        background-color: #000;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform .3s ease-in-out 0s;
      }

      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}

.menu-open {
  transform: translate3d(0, 100vh, 0);
  background-color: $color-theme;
  z-index: 1336;
}

.landing-page {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    text-align: center;

    .intro-title {
      font-size: 2.7rem;
    }

    .intro-text {
      font-size: 1.4rem;
      margin: 1rem 0;
    }
  }
}

.arrow-link {
  position: absolute;
  display: inline-block;
  bottom: 20px;
  left: 50%;
  padding-top: 60px;
  transform: translate3d(0, -50%, 0);

  span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: calc(-1.5rem / 2);
    border-left: 3px solid $color-theme;
    border-bottom: 3px solid $color-theme;
    transform: rotate3d(0, 0, 1, -45deg);
    animation: arrow-scroll 2s ease-in-out infinite;
  }
}

@keyframes arrow-scroll {
  0% {
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 0, 0);
  }

  20% {
    transform: rotate3d(0, 0, 1, -45deg) translate3d(-.75rem, .75rem, 0);
  }

  40% {
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 0, 0);
  }
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;
}

.section-title {
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .08rem;

  span {
    display: inline-block;
    border-bottom: 3px solid #000;
    margin-bottom: 1.5rem;
  }
}

.section-bio {
  text-align: justify;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.bio-item {
  flex: 0 0 75%;

  &.left {
    order: 1;
    text-align: justify;
  }

  &.right {
    flex: 0 0 25%;
    order: 0;
    text-align: center;

    img {
      width: 80%;
      border-radius: 3%;
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: 481px) {
  .bio-wrapper {
    flex-direction: row;
  }

  .bio-item.left {
    order: 0;
    padding-right: 1rem;
  }

  .bio-item.right {
    order: 1;
    padding-left: 1rem;
    text-align: initial;
  }

  .bio-item.right img {
    width: 100%;
    margin-bottom: 0;
  }
}

.section-skills .quote {
  margin-bottom: 1.5rem;
  text-align: justify;
}

.progress-bar {
  margin-bottom: 1rem;
  background-color: #f0f0f0;
  border-radius: .75rem;
}

.progress-bar:last-child {
  margin-bottom: 0;
}

.progress-bar span {
  width: 0;
  background-color: $color-theme;
  height: 1.4rem;
  display: block;
  color: darken($color-theme, 50%);
  font-weight: bold;
  padding-left: .75rem;
  font-size: .9rem;
  transition: width 1.5s ease-in-out;
  border-radius: .75rem;
}

.progress-bar label {
  line-height: 1.5rem;
}

@media (min-width: 481px) {
  .progress-bar {
    width: 50%;
    margin: 0 auto 1rem auto;
  }
}

.section-resume h3 {
  font-size: 1.3rem;
  margin: 3rem 0 2rem 0;
}

.section-resume h3:first-of-type {
  margin-top: 1rem;
}

.timeline {
  position: relative;
  list-style: none;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    height: 20px;
    width: 16px;
    border-bottom: solid 3px #ddd;
  }
}

.timeline-item {
  position: relative;
  padding: 0 0 3rem 2rem;


  &:last-child {
    padding-bottom: 1.5rem;
  }
}

.timeline-item:hover .timeline-item-line:before {
  background-color: $color-theme;
}

.timeline-item-line:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 4px $color-theme;
  background-color: white;
}

.timeline-item-line:after {
  position: absolute;
  content: '';
  top: 16px;
  bottom: 0;
  left: 7px;
  width: 2px;
  background-color: #ddd;
}

.timeline-item-period {
  text-transform: uppercase;
  font-size: .7rem;
  color: #777;
  font-weight: bold;
}

.timeline-item-content h4 {
  font-size: 1.1rem;
  margin: 0;
}

.timeline-item-content p {
  color: #777;
  font-style: italic;
  font-size: 1rem;
}

.timeline-item-content .role {
  font-size: 1rem;
}

@media (min-width: 481px) {
  .section-resume h3 {
    text-align: center;
  }

  .timeline:after {
    left: 30%;
  }

  .timeline-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0;
  }

  .timeline-item-period {
    flex: 0 0 30%;
    text-align: right;
    padding-right: 1rem;
    margin-top: 1px;
  }

  .timeline-item-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
  }

  .timeline-item-content {
    flex: 0 0 70%;
    padding-left: 2rem;
  }

  .timeline-item-content h4 {
    margin-top: -4px;
  }
}

@media (min-width: 768px) {
  .timeline:after {
    left: 50%;
  }

  .timeline-item-period {
    flex: 0 0 50%;
  }

  .timeline-item:nth-child(even) .timeline-item-period {
    order: 1;
    text-align: left;
    padding-left: 2rem;
  }

  .timeline-item-line {
    left: 50%;
  }

  .timeline-item-content {
    flex: 0 0 50%;
  }

  .timeline-item:nth-child(even) .timeline-item-content {
    text-align: right;
    padding-right: 1rem;
  }
}

.footer {
  background-color: #444;
  color: #fff;
  text-align: center;

  .section-title {
    padding-top: 2.5rem;

    span {
      border-bottom: 3px solid #fff;
    }
  }

  .label {
    font-weight: bold;
    margin: 1rem 0 .3rem 0;
  }

  .contact-email a {
    color: #fff;

    &:hover {
      color: #000;
    }
  }

  .copyright {
    font-size: .85rem;
    padding: 2rem 0 .5rem 0;
  }
}

.social-media-icons,
.social-media-icon {
  height: 2rem;
}

.social-media-icon .back {
  fill: #999;
}

.social-media-icon:hover .back {
  fill: $color-theme;
}

.social-media-icon .front {
  fill: #fff;
}

@media (min-width: 481px) {
  .footer .contact-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer .contact-item {
    flex: 0 0 50%;
  }

  .footer .contact-item.left {
    margin-right: 1rem;
    text-align: right;
  }

  .footer .contact-item.right {
    margin-left: 1rem;
    text-align: left;
  }

  .footer .contact-email {
    height: 2rem;
    line-height: 2rem;
  }
}